#root, .App{
  height: 100%;
}

.box{
  border: solid 1px lightgray;
  border-radius: 3px;
  min-height: 80%;
  display: flex;
}

.box > div{
  display: flex;
}

.box-body{
  width: 100%;
  display: flex;
  align-items: center;
}

.box-column{
  margin: 2vw;
  width: 50%;
  text-align: center;
}

h1{
  font-family: "Zain", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
}